@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
* {
  font-family: "Ubuntu";
}