@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
* {
  font-family: "Ubuntu";
}
:root { 
  --bg-color1: #000;
  --text-color: #cacaca;
  --bg-color2: #2e2c3a;
  --bg-image: "/images/bg-desktop-dark.jpg";
}
[data-theme="light"] {
  --bg-color1: #FFF;
  --text-color: #000;
  --bg-color2: #FFF;
}